# Jekyll 빌드 결과물
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/
Gemfile.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Virtual Environments
.venv/
venv/
ENV/
bin/
include/
lib/
share/
pyvenv.cfg
